<!DOCTYPE html>
<html>
<head>
	<title>EduSearch</title>
	<meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
     <link rel="stylesheet" type="text/css" href="static/styles/bootstrap.min.css">
     <script src="static/jquery.min.js"></script>
     <script src="static/bootstrap.min.js"></script>
</head>

<body>

     <div class="jumbotron text-center">
          <h1>Welcome to EduSearch!</h1>
     </div>

     <div class="container">
          <div class="row">
               <div class="col-xs-2"></div>
               <div class="col-xs-8">
                    <div class="text-center">
                         <form class="form-signin" action="http://localhost:5000/result" method="POST">                         	
                              <h3>Enter your Search Query : </h3><br>
                              <input type="text" class="form-control" placeholder="Your Search Query" name="query" required autofocus>
                              <br>
                              <div>
                              	<div class="col-xs-2"></div>
                              	<div class="col-xs-8"><button class="btn btn-primary btn-block" type="submit">Search</button></div>
                              	<!-- <div class="col-xs-4"><button class="btn btn-primary btn-block" type="submit">I'm Feeling Lucky!</button></div> -->
                              	<div class="col-xs-2"></div>
                              	<br><br>
                              </div>
                              <br><br>
                         </form>
                    </div>
               </div>
               <div class="col-xs-2"></div>
          </div>
     </div>

     <div class="container-fluid">
          <div class="text-center">
               <footer>
                    &copy; <script>new Date().getFullYear()>document.write(new Date().getFullYear());</script> EduSearch, BITS Pilani Hyderabad Campus.
               </footer>
          </div>
     </div>

</body>
</html>